<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.system_login">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" />
        <activity android:name=".scanner_page.ScanActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".rice_desease_activity.pengendalian.PengendalianTungroActivity" />
        <activity android:name=".rice_desease_activity.pengendalian.PengendalianBusukPelepahActivity" />
        <activity android:name=".rice_desease_activity.pengendalian.PengendalianBusukBatangActivity" />
        <activity android:name=".rice_desease_activity.pengendalian.PengendalianBercakActivity" />
        <activity android:name=".rice_desease_activity.pengendalian.PengendalianHawarActivity" />
        <activity android:name=".rice_desease_activity.pengendalian.PengendalianBlastActivity" />
        <activity android:name=".rice_desease_activity.PenyakitBusukPelepahActivity" />
        <activity android:name=".rice_desease_activity.PenyakitTungroActivity" />
        <activity android:name=".rice_desease_activity.PenyakitBusukBatangActivity" />
        <activity android:name=".rice_desease_activity.PenyakitBercakActivity" />
        <activity android:name=".rice_desease_activity.PenyakitBlastActivity" />
        <activity android:name=".rice_desease_activity.PenyakitHawarActivity" />
        <activity
            android:name=".DaftarPenyakitActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".AboutAppActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".RegistrasiActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SplashscreenActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>