<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.system_login">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.ScanActivity" />
        <activity android:name=".ui.HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.PengendalianTungroActivity" />
        <activity android:name=".ui.PengendalianBusukPelepahActivity" />
        <activity android:name=".ui.PengendalianBusukBatangActivity" />
        <activity android:name=".ui.PengendalianBercakActivity" />
        <activity android:name=".ui.PengendalianHawarActivity" />
        <activity android:name=".ui.PengendalianBlastActivity" />
        <activity android:name=".ui.PenyakitBusukPelepahActivity" />
        <activity android:name=".ui.PenyakitTungroActivity" />
        <activity android:name=".ui.PenyakitBusukBatangActivity" />
        <activity android:name=".ui.PenyakitBercakActivity" />
        <activity android:name=".ui.PenyakitBlastActivity" />
        <activity android:name=".ui.PenyakitHawarActivity" />
        <activity
            android:name=".ui.DaftarPenyakitActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.AboutAppActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.RegistrasiActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.SplashscreenActivity"
            android:screenOrientation="fullSensor"/>

    </application>

</manifest>